
body {
  padding-top: 50px;
}

.hero {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-background {
    background-color: black;

}

.headline {
  text-align: center;
}
